# Auto detect text files and perform LF normalization
* text=auto

# Custom for specific file types
*.js text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf

# Binary files should not be modified
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
